/*CSS Document */
table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
.Main
{
	font:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: #B55500;
}
Body{
background-color:#F5F5DC;
}
.table
{
	border: 3px #935700;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:30px;	
}
.table2
{
	border: 2px #A77700;
}
.table3
{
	border: 2px #291400;
}