/*CSS Document */
table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
.Main
{
	
	color: #B55500;
	font-size:24px;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}
Body{
background-color:#F5F5DC;
}
.table
{
	border: 3px #935700;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:20px;
	text-align:center;
	color:#805401;
}
.table2
{
	border: 2px #A77700;
}
.table3
{
	border: 2px #291400;
}
.Head
{
	color:#5E3002;
	font-size:50px;
}